body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
}

a {
  text-decoration: none;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
    background-color: #eeeeee;
}

.main-header-logo:hover {
  opacity: 0.8;
}

.main-header-logo:active {
  opacity: 0.3;
}

.slider {
  position: relative;
  
  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  
  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  
  width: 18px;
  height: 18px;
  
  background: #ffffff;
  
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide-picture.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide-picture1.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide-picture3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom:38px;
}

.button {
  display: block;
  width: 240px;
  padding: 16px 0;
  
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.navigation-wrapper {
  display: flex;
  justify-content: space-between;
}



.main-navigation {
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: -10px;
}

.main-navigation a{
  color: #000000;

}
.site-navigation a,
.cart {
  color: #000000;
  display: block;
  padding: 0;
  padding-top: 26px;

  vertical-align: middle;
}

.main-navigation a:hover,
.site-navigation a:hover {
  color: #fb565a;
}

.main-navigation a:active,
.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation,
.services-list,
.catalog-list,
.sorting-type,
.sorting-direction,
.filter-aside {
  list-style: none
}

.site-navigation {
  width: 435px;
  margin: 0;
  margin-right: 83px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
 }

 .cart {
  width: 80px;
  margin-right: -5px;
 }

.services {
  padding-bottom: 122px;
  padding-top: 80px;
}

.services-item {
  margin-right: 100px;
}

.services-list {
  margin: 0;
  padding: 0;
  display: flex;
}

.services-list h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  margin: 17px 0;
}

.services-btn {
  vertical-align: middle;
  padding: 16px 0;
  width: 160px;
  border-radius: 4px;
  margin-top: 31px;
}

.services-btn-1,
.services-btn-2,
.services-btn-3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #fb565a;
}

.services-btn-2 {
  background-color: #00ca74;
}
.services-btn-3 {
  background-color: #efc84a;
}

.services-btn-1:hover {
  background-color: #e74246;
}

.services-btn-1:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.services-btn-2:hover {
  background-color: #00bc6c;
}

.services-btn-2:active {
  background-color: #00aa62;
  color: rgba(0, 1, 1, 0.1);
}

.services-btn-3:hover {
  background-color: #eab534;
}

.services-btn-3:active {
  background-color: #e5a722;
  color: rgba(0, 1, 1, 0.1);
}

.services-text {
  width: 260px;
}

.about-us {
  display: flex;
  justify-content: space-between;
 }

.advantages {
  width: 660px;
  margin-top: 35px;
}

.advantages-lead {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;

  color: #000000;
}

.advantages-list {
  margin: 0;
  padding: 0;
}

.advantages-list li {
  margin-top: 25px;
  margin-left: 37px;
}
.advantages-list-title {
  /*margin-bottom: 25px;*/
}

.advantages-text {
  margin-top: 34px;
  margin-bottom: 38px
}


.advantages-list-title,
.stats-title {
  font-weight: 700;
  text-transform: uppercase
}

.stats {
  width: 360px;
}

.stats-title {
  text-align: center;
  margin: 0;
  margin-top: 30px;
}

.stats-content {
  line-height: 18px;
  margin-top: 55px;
  width: 100%;
}


.percent {
  font-size: 45px;
  font-weight: 700;
  line-height: 10px;
 
  color: #000000;
}

.percent td {
  width: 93px;
  padding-bottom: 33px;
}

.сustomers {
  display: flex;
  list-style: none;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 117px;

}

.сustomers-logo {
  opacity: 0.2;
}

.сustomers-logo:hover {
  opacity: 1;
}
.сustomers-logo:active {
  opacity: 0.1;
}


.сustomers li:first-child {
  margin-left: 31px;
}
.сustomers li:nth-child(2) {
  margin-left: 96px;
}
.сustomers li:nth-child(3) {
  margin-left: 103px;
}
.сustomers li:last-child {
  margin-left: 120px;
}

.map {
  height: 362px;
  background-image: url(../img/map.png);
  background-repeat: no-repeat;
  background-position: 5px -152px;
  padding-top: 54px;
  padding-left: 372px;
}

.contacts {
  width: 319px;
  height: 308px;
  background-color: white;
  padding: 31px 49px;
  box-sizing: border-box;
}



.contacts-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  padding-bottom: 5px;

  color: #000000;
}

.contacts-text,
.tel {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.contacts-btn {
  display: block;
  color: #ffffff;
  line-height: 18px
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  box-sizing: border-box;
  width: 219px;
  height: 50px;
  vertical-align: middle;
  border-radius: 4px;
  padding-top: 13px;
  margin-top: 33px;
  margin-left: 1px;
  background-color: #fb565a;
}

.contacts-btn:hover {
  background-color: #e74246;
}

.contacts-btn:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 40px;
}

.social {
  margin-left: -40px;
  width: 260px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.social-button {
  display: block;
  width: 80px;
  height: 80px;
  background-color: #e1e1e1;
  border-radius: 50%;
}
.social-button:hover {
  background-color: #e74246;
}
.social-button:active {
  background-color: #e74246;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.social-button-vk {
  background-image: url("../img/vk-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.social-button-fb {
  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.social-button-insta {
  background-image: url("../img/insta-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/*Не понимаю, как правильно сделать полупрозрачность самих лого соц сетей по стайлгайду в состоянии :active. 
Единственное, что надумал, так это (ниже), но это не решает проблему
.social-button-vk:active {
opacity: 0.3;
}.social-button-fb:active {
opacity: 0.3;
}.social-button-insta:active {
opacity: 0.3;
}*/
.loyalty {
  width: 760px;
  box-sizing: border-box;
  }
.loyalty-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: -5px;
  color: #000000);
}

.loyalty-text {
  font-size: 16px;
  line-height: 22px;
  padding-bottom: 5px;

  color: #444444;
}
.modal {
  display: none;
}
.feedback-title {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;

  color: #000000;
}

.feedback-form label {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;

  color: #000000;
}

.feedback-form input[type="text"],
.feedback-form textarea {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(68, 68, 68, 0.5);

  border: 2px solid #d7dcde;
}

.feedback-form input[type="text"]:hover,
.feedback-form textarea:hover {
  color: rgba(68, 68, 68, 0.5);

  border-color: #b4b9bb;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  border-color: #000000;
  color: #444444;
}

.feedback-form input:invalid ,
.feedback-form textarea:invalid  {
  border-color: #e74246;
  color:#e74246 ;
}

.feedback-btn,
.item-price {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 500;
  border: none;
  text-align: center;

  background-color: #fb565a;
}

.feedback-btn:hover,
.item-price:hover {
  background-color: #e74246;
}

.feedback-btn:active,
.item-price:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.page-header h1 {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  text-align: center;
  padding-top: 41px;
  padding-bottom: 108px;
  color: #000000;
}

.filters-wrapper {
  display: flex;
  justify-content: space-between;
}

.filters {
 width: 400px;
 padding-top: 21px;
}

.filter-item {
  margin: 0;
  padding: 0;
  
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2px;
}

.range-controls {
  position: relative;
  
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  
  background-color: #f1f1f1;
  
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  
  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
  padding-top: 1px;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.filter-position {
  padding-top: 57px;
}

.filter-option {
   padding-top: 3px;
   padding-bottom: 17px;
}
.filter-hang {
  padding-top: 15px;
}

.filter-button {
  margin-top: 16px;
  width: 260px;
}

.catalog-wrepper {
  width: 800px;
  display: flex;
  flex-direction: column;
  padding-top: 2px;
}

.sort {
  display: flex;
  justify-content: space-between;
}

.sort-col-right {
  width: 380px;
  display: flex;
  justify-content: space-between;
}

.sorting {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  width: 360px;
  text-transform: uppercase;
  padding-left: 13px;
  padding-top: 1px;
}

.sorting-type {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;

  padding-top: 5px;
  padding-left: 12px;
}

.sorting-type li:first-child {
 padding-left: 6px;
}


.catalog-list {
  padding: 0;
  padding-left: 14px;
  padding-top: 47px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
}

.catalog-item {
  width: 360px;
  margin-bottom: 35px;
  }

.item-price {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 500;
  border: none;
  text-align: center;

  background-color: #fb565a;
}

.item-price:hover {
  background-color: #e74246;
}

.item-price:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.item-description {
  background-color: #eeeeee;
  display: none;
}

.item-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;

  color: #000000;
}

.item-title:hover {
  color: #fb565a;
}

.item-title:active {
  color: rgba(0, 0, 0, 0.3);
}

.item-text {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #666666;
}

.sorting-type a:not(.sorting-type-current) {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  color: rgba(0, 0, 0, 0.3);
}

.sorting-type a:hover:not(.sorting-type-current) {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-type a:active:not(.sorting-type-current) {
  color: #000000;
}

.sorting-type-current {
  color: #000000;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.filter ul{
  font-size: 16px;
  line-height: 20px;

  color: #283136;
}

.filter li:hover {
  color: #000000;
}

.filter li:disable {
  color: rgba(40, 49, 54, 0.3);
}

.filter-button {
  background-color: #eeeeee;
  border: none;

  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.filter-button:hover {
  background-color: #dfdfdf;
}

.filter-button:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}

.paginator {
  width: 460px;
  display: flex;
  margin-top: -16px;
  margin-left: 14px;
  margin-bottom: 60px;
}

.pagin {
  margin-right: 11px;
}

.paginator a {
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  padding-top: 15px;
  box-sizing: border-box;
}
.paginator-number {
  width: 50px;
  height: 50px;
  background-color: #eeeeee;
  border: none;
}
.next-paginator {
    width: 260px;
    height: 50px;
    background-color: #eeeeee;
    border: none;
}
.paginator .paginator-number,
.paginator .next-paginator {
  padding-top: 17px;
}


.paginator-number:hover,
.next-paginator:hover {
  background-color: #dfdfdf;
}

.paginator-number:active,
.next-paginator:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}

a.paginator-current {
  border: solid 3px #dbdbdb;
  background-color: #ffffff;
  width: 50px;
  height: 50px;
}