body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
}

a {
  text-decoration: none;
}

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 500;

  background-color: #eeeeee;
}

.main-navigation a,
.site-navigation a {
  color: #000000;
}

.main-navigation a:hover,
.site-navigation a:hover {
  color: #fb565a;
}

.main-navigation a:active,
.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation,
.services-list,
.catalog-list,
.sorting-type,
.sorting-direction,
.filter-aside {
  list-style: none
}

.slider {
  background-color: #eeeeee
}

.slide-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.slide-btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #fb565a;
}

.slide-btn:hover {
  background-color: #e74246;
}

.slide-btn:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.services-list h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.services-btn-1,
.services-btn-2,
.services-btn-3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #fb565a;
}

.services-btn-2 {
  background-color: #00ca74;
}
.services-btn-3 {
  background-color: #efc84a;
}

.services-btn-1:hover {
  background-color: #e74246;
}

.services-btn-1:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.services-btn-2:hover {
  background-color: #00bc6c;
}

.services-btn-2:active {
  background-color: #00aa62;
  color: rgba(0, 1, 1, 0.1);
}

.services-btn-3:hover {
  background-color: #eab534;
}

.services-btn-3:active {
  background-color: #e5a722;
  color: rgba(0, 1, 1, 0.1);
}

.advantages-lead {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;

  color: #000000;
}

.advantages-list-title,
.stats-title {
  font-weight: 700;
  text-transform: uppercase
}

.stats-content {
  line-height: 18px;
}

.percent {
  font-size: 45px;
  font-weight: 700;
  line-height: 10px;

  color: #000000;
}

.contacts-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;

  color: #000000;
}

.contacts-text,
.tel {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.contacts-btn {
  color: #ffffff;
  line-height: 18px
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;

  background-color: #fb565a;
}

.contacts-btn:hover {
  background-color: #e74246;
}

.contacts-btn:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.loyalty-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;

  color: #000000);
}

.loyalty-text {
  font-size: 16px;
  line-height: 22px;

  color: #444444;
}
.modal {
  display: none;
}
.feedback-title {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;

  color: #000000;
}

.feedback-form label {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;

  color: #000000;
}

.feedback-form input[type="text"],
.feedback-form textarea {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(68, 68, 68, 0.5);

  border: 2px solid #d7dcde;
}

.feedback-form input[type="text"]:hover,
.feedback-form textarea:hover {
  color: rgba(68, 68, 68, 0.5);

  border-color: #b4b9bb;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  border-color: #000000;
  color: #444444;
}

.feedback-form input:invalid ,
.feedback-form textarea:invalid  {
  border-color: #e74246;
  color:#e74246 ;
}

.feedback-btn,
.item-price {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 500;
  border: none;
  text-align: center;

  background-color: #fb565a;
}

.feedback-btn:hover,
.item-price:hover {
  background-color: #e74246;
}

.feedback-btn:active,
.item-price:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.page-header h1 {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  text-align: center;
  color: #000000;
}

.item-price {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 500;
  border: none;
  text-align: center;

  background-color: #fb565a;
}

.item-price:hover {
  background-color: #e74246;
}

.item-price:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.item-description {
  background-color: #eeeeee;
}

.item-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;

  color: #000000;
}

.item-title:hover {
  color: #fb565a;
}

.item-title:active {
  color: rgba(0, 0, 0, 0.3);
}

.item-text {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #666666;
}

.sorting-type,
.sorting-type a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  color: rgba(0, 0, 0, 0.3);
}

.sorting-type:hover,
.sorting-type a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-type:active,
.sorting-type a:active {
  color: #000000;
}

.filter ul{
  font-size: 16px;
  line-height: 20px;

  color: #283136;
}

.filter li:hover {
  color: #000000;
}

.filter li:disable {
  color: rgba(40, 49, 54, 0.3);
}

.filter-button {
  background-color: #eeeeee;
  border: none;

  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.filter-button:hover {
  background-color: #dfdfdf;
}

.filter-button:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}

.paginator a {
  background-color: #eeeeee;
  border: none;

  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.paginator a:hover {
  background-color: #dfdfdf;
}

.paginator a:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}

a.paginator-current {
  border: solid 3px #dbdbdb;
  background-color: #ffffff;
}